<a href="/movies/matilda"><p><%= @title[:ma] %></p></a>
<a href="/movies/goonies"><p><%= @title[:go] %></p></a>
<a href="/movies/donnie"<p><%= @title[:don] %></p></a>
<a href="/movies/gladiator"<p><%= @title[:gl] %></p></a>
