<h1><%= @movie[:title] %></h1>

<h3><%= @movie[:subtitle] %></h3>

<iframe width="560" height="315" src="//www.youtube.com/embed/pWgc8Ute2tU" frameborder="0" allowfullscreen></iframe>

<p><%= @movie[:description] %></p>