<h1><%= @show[:title] %></h1>

<h3><%= @show[:subtitle] %></h3>

<iframe width="560" height="315" src="//www.youtube.com/embed/GcA5f3H7xRg" frameborder="0" allowfullscreen></iframe>

<p><%= @show[:description] %></p>